body {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
}

div.main {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    width: 60%;
    height: 50%;
    border-radius: 10px;
    padding-top: 5%;
}

div.page {
    width: 25%;
}

div.quote {
    padding: 10%;
    color: gainsboro;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: xxx-large;
}

a {
    color: white;
    text-decoration: none;
    line-height: 40px;
    display: block;
}

a:hover {
    color: black;
    background-color: white;
}

table {
    margin: 0;
    width: 100%;
    font-size: larger;
}

tr {
    width: 100%;
    text-align: center;
}

